USE [StoreSH]
GO
/****** Object:  Table [dbo].[tProducts]    Script Date: 14/04/2022 11:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProducts](
    [cdeProduct] [varchar](16) NOT NULL,
    [dscDescription] [varchar](25) NULL,
    [dscNOTE] [varchar](255) NULL,
    [cdeUOM] [varchar](3) NULL,
    [dscSerialNum] [varchar](50) NULL,
    [cdeTax] [varchar](8) NULL,
    [numInventory] [float] NULL,
    [curStnd_price] [float] NULL,
    [curSUG_RETAIL] [float] NULL,
    [numStnd_Qty] [float] NULL,
    [cdeVendor1] [varchar](16) NULL,
    [cdeV1SKU] [varchar](16) NULL,
    [cdeVendor2] [varchar](16) NULL,
    [cdeV2SKU] [varchar](16) NULL,
    [cdeVendor3] [varchar](16) NULL,
    [cdeV3SKU] [varchar](16) NULL,
    [cdeVendor4] [varchar](16) NULL,
    [cdeV4SKU] [varchar](16) NULL,
    [numDUE_IN] [float] NULL,
    [numRO_QTY] [float] NULL,
    [numORDERQTY] [float] NULL,
    [numORD_MULT1] [float] NULL,
    [curMULT_1COST] [float] NULL,
    [numORD_MULT2] [float] NULL,
    [curMULT_2COST] [float] NULL,
    [numORD_MULT3] [float] NULL,
    [curMULT_3COST] [float] NULL,
    [cdeMSKU] [varchar](16) NULL,
    [dscOPEN_1] [varchar](16) NULL,
    [dscOPEN_2] [varchar](16) NULL,
    [dscOPEN_3] [varchar](16) NULL,
    [dscOPEN_4] [varchar](16) NULL,
    [optSale] [bit] NOT NULL,
    [curSale_Price] [money] NULL,
    [cdeSale] [varchar](4) NULL,
    [dteLastSold] [datetime] NULL,
    [cdeTransaction] [varchar](50) NULL,
    [cdeDept] [varchar](4) NULL,
    [cdeSubDept] [smallint] NULL,
    [curAVG_Cost] [float] NULL,
    [curREPL_Cost] [float] NULL,
    [curSTND_Cost] [float] NULL,
    [curLAST_RECD_Cost] [float] NULL,
    [numDAY_QTY] [float] NULL,
    [curDAY_SALE] [float] NULL,
    [numMON_QTY] [float] NULL,
    [curMONTH_SALE] [float] NULL,
    [numYEAR_QTY] [float] NULL,
    [curYEAR_SALE] [float] NULL,
    [numTOTAL_QTY] [float] NULL,
    [curTOTAL_SALE] [float] NULL,
    [optRental] [bit] NOT NULL,
    [dteRentTimeOut] [datetime] NULL,
    [dteRentTimeIn] [datetime] NULL,
    [numTotRentTime] [int] NULL,
    [optInvAlert] [bit] NOT NULL,
    [optSalesLessCost] [bit] NOT NULL,
    [optDiscountAllowed] [bit] NOT NULL,
    [optAddNotesToReceipt] [bit] NOT NULL,
    [numMargin] [float] NULL,
    [optKit] [bit] NOT NULL,
    [cdeAltUOMDefault] [varchar](3) NULL,
    [cdePrice] [varchar](8) NULL,
    [optSetPriceByMargin] [bit] NOT NULL,
    [optDiscontinued] [bit] NOT NULL,
    [dteAction] [datetime] NULL,
    [optRoundTo9] [bit] NOT NULL,
    [cdePAR] [varchar](16) NULL,
    [dteAdded] [datetime] NULL,
    [cdeLastUSERID] [varchar](20) NULL,
    [optNoMoreDiscounts] [bit] NOT NULL,
    [cdeManu] [varchar](16) NULL,
    [cdeClass] [varchar](8) NULL,
    [cdeSubClass] [varchar](8) NULL,
    [cdeLoc] [varchar](8) NULL,
    [dscUpdateInfo] [varchar](50) NULL,
    [dteLastRec] [datetime] NULL,
    [numLastRecQty] [float] NULL,
    [cdeClaimType] [varchar](8) NULL,
    [cdePackStatus] [varchar](4) NULL,
    [cdeCvrsID] [varchar](16) NULL,
    [cdeQtyRank] [varchar](4) NULL,
    [cdePreviousQtyRank] [varchar](4) NULL,
    [cdeDolRank] [varchar](4) NULL,
    [cdePreviousDolRank] [varchar](4) NULL,
    [dteRankCalc] [datetime] NULL,
    [optRankLock] [bit] NOT NULL,
    [numRank] [float] NULL,
    [numMinWeeks] [float] NULL,
    [numMaxWeeks] [float] NULL,
    [optWeeksLock] [bit] NOT NULL,
    [optIncludePromo] [bit] NOT NULL,
    [optORD_MULT2_LOCK] [bit] NOT NULL,
    [optORD_MULT3_LOCK] [bit] NOT NULL,
    [numOrdMin] [float] NULL,
    [numOrdMax] [float] NULL,
    [dteMinMaxCalc] [datetime] NULL,
    [optEORetailLock] [bit] NOT NULL,
    [numDesMargin] [float] NULL,
    [cdeTruBlueInd] [varchar](1) NULL,
    [cdeNonStockSkuInd] [varchar](1) NULL,
    [cdeAssortmentInd] [varchar](1) NULL,
    [numLastCount] [float] NULL,
    [dteLastCount] [datetime] NULL,
    [SyncStatus] [varchar](1) NULL,
    [numORD_MULT4] [float] NULL,
    [curMULT_4COST] [float] NULL,
    [optTiered] [bit] NOT NULL,
    [optORD_MULT4_LOCK] [bit] NOT NULL,
    [cdeCoreItem] [varchar](1) NULL,
    [cdeRetailAssortment] [varchar](1) NULL,
    [cdeGreenItem] [varchar](1) NULL,
    [cdeImageID] [varchar](14) NULL,
    [cdeToBeDiscontinued] [varchar](1) NULL,
    [dteTBD] [datetime] NULL,
    [dteDiscontinued] [datetime] NULL,
    [cdeSubsItemTypeCD] [varchar](1) NULL,
    [cdeCouponSource] [varchar](3) NULL,
    [cdeCouponType] [varchar](1) NULL,
    [numUnitWt] [float] NULL,
    [cdeDIBStatus] [varchar](1) NULL,
    [cdeSubstitute] [varchar](16) NULL,
    [optAdder] [bit] NOT NULL,
    [curFreightCost] [float] NULL,
    [numQtyCommitted] [float] NULL,
    [optAGItem] [bit] NULL,
    [optCentrallyPriced] [bit] NULL,
    [optPriceByMargin] [bit] NOT NULL,
    [optFollowDIBRetail] [bit] NOT NULL,
    [cdeDiscontinueReason] [varchar](1) NULL,
    [curMinSelling_PRICE] [float] NULL,
    [cdeUnitOfMeasureItem] [varchar](1) NULL,
    [cdeECommerceFlag] [varchar](1) NULL,
    [curRPELevel1Retail] [float] NULL,
    [curRPELevel2Retail] [float] NULL,
    [curEcommercePrice] [float] NULL,
    [cdeCentralShipInd] [varchar](1) NULL,
    [cdeVariablePricingMethodCD] [varchar](1) NULL,
    [cdeBrandName] [varchar](20) NULL,
    [numUnitQty] [float] NULL,
    [cdeUnitText] [varchar](10) NULL,
    [cdeVisibilityFlag] [varchar](1) NULL,
    [optPOSAlertNote] [bit] NULL,
    [cdeMadeInUSA] [varchar](1) NULL,
    [cdeSubCategory] [varchar](8) NULL,
    [numRoundToX] [tinyint] NULL,
    [optAceInstantSavings] [bit] NULL,
    [cdeProductType] [varchar](20) NULL,
    [dteDIBRetailInventory] [datetime] NULL,
    [numDIBCaseMultCode] [tinyint] NULL,
    [cdeDIBCountryOfOrigin] [varchar](3) NULL,
    [cdeDIBUPSSwitch] [varchar](1) NULL,
    [cdeDIBCentralStockSwitch] [varchar](1) NULL,
    [numDIBExceptionQty] [int] NULL,
    [numDIBMaxQty] [int] NULL,
    [cdeDIBPriceCode] [varchar](1) NULL,
    [cdeDIBNewItemInd] [varchar](1) NULL,
    [cdeDIBPromoStatus] [varchar](1) NULL,
    [cdeDIBSubstitute2] [varchar](6) NULL
) ON [PRIMARY]
GO
GO